@{
    ViewBag.Title = "PARCHES";
}



<div class="jumbotron">
    <h1>PARCHES CREADOS</h1>
    <p class="lead">Los parches son diferentes grupos de reunión, donde te puedes unir para hacer parceros mientras
    vas a tomar tu respectivo medio de transporte, ademas de aportarte a tu seguridad  y la de otros.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Leer más &raquo;</a></p>
</div>
<div class="row">
    <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">pin_drop</i></a>
    </div>
    <div class="row">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="@Url.Content("~/img/mapa.jpg")">
            </div>

            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
        </div>
    </div>

    @section Scripts {


    }
