<div class="card-panel z-depth-3 hoverable small " id="vistaparcialFormCarga">
    <div class="card-image">
        <img src="img/user-profile.jpg">
        <span class="card-title">Título de la Tarjeta</span>
    </div>
    <div class="modal-header">
        <h4 class="center-align">CREAR PARCHES</h4>
    </div>

    <form id="formulariocargaarchivo" enctype="multipart/form-data" method="post">


        <div class="row">

            <div class="input-field col s12 m6 center-align">
                <i class="material-icons prefix">account_circle</i>
                <select name="tipoUsuario" id="tipoUsuario" required="" aria-required="true">
                    <option value="" disabled selected>Seleccione...</option>
                    <option value="1">particular</option>
                    <option value="2">text</option>
                </select>
                <label>Seleccione Sede</label>
            </div>

        </div>

        <div class="row">

            <div class="input-field col s12 m6">
                <select name="categoria" id="categoria">
                    <option value="" disabled selected>Seleccione...</option>
                    <option value="1">val2</option>
                    <option value="2">text</option>
                </select>
                <label>Seleccione Lugar de encuentro</label>
            </div>

        </div>


        <div class="row">
            
            <div class="col s12 m6">
                <label>Fecha Inicio:</label>
                <input type="text" class="datepicker" name="fechaInicio" id="fechaInicio" />
            </div>

        </div>

        <div class="row">

            <div class="col s12">
                <a class="waves-effect waves-light btn green z-depth-2" onclick="validandonoduplicados()"><i class="material-icons right">file_upload</i>CREAR</a>

            </div>
            <div class="col s12">
                <a class="waves-effect waves-light btn red z-depth-2" onclick="cancelado()"><i class="material-icons right">close</i>CANCELAR</a>

            </div>
        </div>

    </form>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/crearparchejs")
