<div class="card-panel hoverable" id="vistaparcialFormCarga">
    <div class="modal-header">
        <h3>titulo</h3>
    </div>

    <form id="formulariocargaarchivo" enctype="multipart/form-data" method="post">
        <div class="card-panel blue lighten-3"> DATOS GENERALES</div>

        <div class="row" >
        </div>
            <div class="row">
                
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">account_circle</i>
                    <select name="tipoUsuario" id="tipoUsuario" required="" aria-required="true">
                        <option value="" disabled selected>Seleccione...</option>
                        <option value="1">particular</option>
                        <option value="2">text</option>
                    </select>
                    <label>Tipo Usuario</label>
                </div>

                <div class="input-field col s12 m6">
                    <select name="categoria" id="categoria">
                        <option value="" disabled selected>Seleccione...</option>
                        <option value="1">val2</option>
                        <option value="2">text</option>
                    </select>
                    <label>Categoria</label>
                </div>
            </div>

        <div class="card-panel blue lighten-3">CONDICIONES ESPECIALES</div>

          
            <div class="row">
                <div class="col s12">
                    <input type="checkbox" name="IVE" id="IVE" />
                    <label for="IVE">Interrupción involuntaria del embarazo</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <input type="checkbox" name="NOPOS" id="NOPOS" />
                    <label for="NOPOS">Atenciones no POS</label>
                </div>
            </div>
            <div id="DIVtipocalendario">
                <div class="card-panel blue lighten-3">PERIODO DE REPORTE</div>

                <div class="row">
                </div>
                <div class="row">
                    <div class="col s12 m6">
                        <input type="radio" name="opcparticular" id="opcsemestral" />
                        <label for="opcsemestral">Semestral:</label>
                    </div>
                    <div class="col s12 m6">
                        <input type="radio" name="opcparticular" id="opcmensual" />
                        <label for="opcmensual">Mensual:</label>
                    </div>
                </div>
            </div>
            <div id="DIVsemestral" class="hide">
                <div class="card-panel blue lighten-4">SEMESTRAL</div>

                <div class="row">
                </div>
                <div class="row">
                    <div class="input-field col s12 m6">
                        <select name="semestre" id="semestre">
                            <option value="" disabled selected>Seleccione...</option>
                            <option value="1">semestre 1</option>
                            <option value="2">semestre 2</option>
                        </select>
                        <label>Semestre</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <select name="aniosemestre" id="aniosemestre">
                            <option value="" disabled selected>Seleccione...</option>
                            <option value="1">año 1</option>
                            <option value="2">año 2</option>
                        </select>
                        <label>Año</label>
                    </div>
                </div>
            </div>
            <div id="DIVmensual" style="display:none">
                <div class="card-panel blue lighten-4">MENSUAL</div>

                <div class="row">
                </div>
                <div class="row">
                    <div class="col s12 m6">
                        <label>Fecha Inicio:</label>
                        <input type="text" class="datepicker" name="fechaInicio" id="fechaInicio" />
                    </div>

                    <div class="col s12 m6">
                        <label>Fecha Fin:</label>
                        <input type="text" class="datepicker" name="fechaFin" id="fechaFin" />
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col s12">
                    <div class="file-field input-field">
                        <div class="btn">
                            <span>Archivos</span>
                            <input type="file" name="archivos" id="archivos" multiple>
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="Seleccione y adjunte varios archivos" id="rips" name="rips"  required>
                        </div>
                    </div>
                </div>
            </div>
        
            <br/>
            <input class="waves-effect waves-light btn green z-depth-2" type="submit"><i class="material-icons right">file_upload</i>CARGAR</input>
            <a class="waves-effect waves-light btn green z-depth-2" onclick="validandonoduplicados()"><i class="material-icons right">file_upload</i>CARGAR</a>
            <a class="waves-effect waves-light btn red z-depth-2" onclick="cancelado()"><i class="material-icons right">close</i>CANCELAR</a>
</form>
</div>
<!--div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn green lighten-2 z-depth-5" onclick="validandonoduplicados()">CARGAR</a>
    <a href="#!" class="waves-effect waves-red btn red lighten-2 z-depth-5" onclick="cancelado()">CANCELAR</a>
</div>-->
@Scripts.Render("~/bundles/validarformarchivo")
