@{
    ViewBag.Title = "Sesión";
    Layout = "~/Views/Shared/_LayoutSesion.cshtml";
}

<section class="container">
    <section class="login-form">
        <img src="../img/logo.png" class="img-responsive" alt="" />
        <br />
        @Html.ActionLink("CARGADOR", "Index", "Home", new { area = "" }, new { @class = "form-control input-lg" })
        <button type="button" class="btn blue accent-4 btn-lg btn-block" data-toggle="modal" data-target="#modalLRForm">Iniciar Sesión</button>
        <div class="form-links">
            <a href="#">&copy; @DateTime.Now.Year - Bogotá D.C.</a>
            <p>Contruido con:</p>
            <a href="#">http://www.mdbootstrap.com/</a>
            <a href="#">http://www.bootstrapzen.com/</a>
            <a href="#">http://www.materializecss.com/</a>
        </div>
    </section>
</section>

<div class="row">

    <div class="col-md-12 col-sm-12">

        <!--Modal: Login / Register Form-->
        <div class="modal fade" id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog cascading-modal" role="document">
                <!--Content-->
                <div class="modal-content">

                    <!--Modal cascading tabs-->
                    <div class="modal-c-tabs">

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs tabs-2 orange accent-3" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#panel7" role="tab" id="btnSesion"><i class="fa fa-user mr-1"></i> Iniciar Sesión</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#panel8" role="tab" id="btnRegistro"><i class="fa fa-user-plus mr-1"></i> Registrar</a>
                            </li>
                        </ul>

                        <!-- Tab panels -->
                        <div class="tab-content">
                            <!--Modal 1-->
                            @{
                                Html.RenderPartial("ViewParcialLogin", new ClienteQSP.Models.LoginViewModel());
                            }

                            <!--/.Modal 1-->
                            <!--Modal 2-->
                            @{
                                Html.RenderPartial("ViewParcialRegistro", new ClienteQSP.Models.RegisterViewModel());
                            }
                            <!--/.Modal 2-->
                        </div>

                    </div>
                </div>
                <!--/.Content-->
            </div>
        </div>
        <!--Modal: Login / Register Form-->

    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}